html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}

nav {
    height: 50px;
    width: calc(100%-0.1px);
    background-color: rgb(253, 166, 52);
    display: flex;
    justify-content: space-between;
}

nav img {
    height: 50px;
}

nav a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    gap: 24px;
    text-align: center;
    place-items: center;
}

.links button {
    margin-right: 8px;
}

.men {

    cursor: pointer;
    display: none;
}

/*------------  nav - over   --------------*/

/*------------   main - s   --------------*/

.main {
    overflow: auto;
    justify-items: center;
    height: calc(100vh - 50px);
    width: 100%;
    background: linear-gradient(to left, rgba(235, 245, 54, 0.402), rgba(251, 172, 222, 0.402));
}

.main h1 {
    font-family: sans-serif;
    font-size: 60px;
    margin: 10px;
}

.search {
    margin-top: 20px;
    height: 40px;
    width: 320px;
    border-radius: 20px;
    align-content: center;
    border: 1px solid black;
}

.search input {
    padding-left: 20px;
    /* margin-left: 15px; */
    border: none;
    background: transparent;
}

.search input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.items {
    margin-top: 40px;
    height: 300px;
    width: 80vw;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 60px;
}

.item {
    height: 320px;
    width: 240px;
    border-radius: 10px;
    border: 1px solid black;
}

.itemname h1,
h4 {
    margin: 10px;
    font-size: small;
    line-height: 10px;
    /* border:1px solid black; */
}

.image {
    background-color: rgba(0, 0, 255, 0.468);
    height: 120px;
    width: auto;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.image img{
    height: 120px;
}

.itemdes h4 {
    margin: 12px;
    line-height: 10px;
}

.itemdes p {
    font-size: smaller;
    margin: -2px 10px;
    line-height: 10px;
}

.des {
    margin-top: 18px;
}

.des p {
    color: #6b6767;
    margin-top: 10px;
    font-size: smaller;
    margin: 6px;
    line-height: 14px;
}





/*------------  media query  - s   --------------*/
@media (max-width:500px) {


    .links {

        padding: 20px;
        border-radius: 5px;
        gap: 18px;
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* left: 0; */
        right: 15px;
        background: rgba(71, 65, 65, 0.587);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        backdrop-filter: blur(5px);
        transform: translateY(-20px);
    }

    .links a {
        color: white;
    }

    .th {
        position: absolute;
        visibility: visible;
    }

    .cl {
        visibility: hidden;
    }



    .links.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateY(0);
    }

    .men {
        /* position: relative; */
        display: block;
    }

    .men img {
        margin-top: 5px;
        margin-right: 20px;
        display: block;
        /*  position: absolute;
                right: 0px; */
        height: 35px;
        /* width: 20px; */
    }
}